@{
    ViewBag.Title = "Dashboard";
}

<h3 class="mt-2 text-primary"><strong>Dashboard</strong></h3>
<div class="row gap-3 mt-2 text-center">
    <div class="col shadow p-4 text-center">
        <a asp-controller="Admin" asp-action="SelectCategory" class="fs-4">Leaderboard</a>
    </div>

    <div class="col shadow p-4 text-center">
        <a asp-controller="Admin" asp-action="AssignRole" class="fs-4">Assign Role</a>
    </div>

</div>