<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizMaster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuizDishtv.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-6">
                <div class="container-fluid">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="SelectCategory">QuizMaster</a>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuizMaster</a>
                    }

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="SelectCategory">Dashboard</a>
                                </li>
                            }

                            @if (User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="Quiz" asp-action="Categories">Start Quiz</a>
                                </li>
                            }

                        </ul>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Quiz/Profile" class="text-decoration-underline"> 
                                Hello, @User.Identity.Name
                            </a>
                            <div>
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                            </div>
                        }    
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="d-flex">
            
            @if (User.IsInRole("Admin"))
            {
                <div class="sidebar">
                    <a asp-controller="Admin" asp-action="SelectCategory" class="sidebar-link">Leaderboard</a>
                    <a asp-controller="Admin" asp-action="AssignRole" class="sidebar-link">Roles</a>
                    <a asp-controller="Admin" asp-action="Questions" class="sidebar-link">Questions</a> 
                    <a asp-controller="Admin" asp-action="AddCategory" class="sidebar-link">Category</a>
                </div>
            }
            <div class="container content">
                 @RenderBody()
            </div>
        </main>
    
     <footer class="border-top footer text-muted "> 
          <div class="container text-center text-white">  
             &copy; @DateTime.Now.Year - QuizDishtv <a class="text-white text-decoration-underline" asp-controller="Home" asp-action="Privacy">Privacy</a>
          </div>  
     </footer> 
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            var currentUrl = window.location.pathname.toLowerCase();

            $('.sidebar-link').each(function () {
                var link = $(this).attr('href').toLowerCase();
                if (currentUrl === link) {
                    $(this).addClass('active');
                }
            });
        });
    </script>
</body>
</html>


