
@model List<Category>

@{
    ViewData["Title"] = "Select a Quiz Category";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row">
@foreach (var category in Model)
{
        <div class="col-4 shadow p-4 text-center">

        <h4>@category.Name</h4>
        <a asp-action="StartQuiz" asp-route-categoryId="@category.CategoryId" class="btn btn-primary">Start Quiz</a>
        </div>
}
    </div>

