@model QuizDishtv.Models.QuizViewModel

@{
    ViewData["Title"] = "Home";
}
<form asp-controller="Quiz" asp-action="SubmitAnswer" method="post">
    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div>
            <h4 class="bg-success text-white p-2">@Model.Questions[i].Text</h4>
            @foreach (var answer in Model.Questions[i].Answers)
            {
                <label>
                    <input type="radio" name="UserAnswers[@Model.Questions[i].QuestionId]" value="@answer.AnswerId" required />
                    @answer.Text
                </label>
                
                <br />
            }
        </div>
        <hr />
    }
   
    <button type="submit" class="btn btn-success">Submit</button>
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
</form>
