 @model QuizDishtv.Models.QuizViewModel; 

  @{  
      ViewData["Title"] = "Results";  

  }  
 <div class="mt-4"> 
     <h2 class="text-center mb-2 bg-primary text-white p-1">Quiz Results</h2> 

     <div class="score-card alert alert-success text-center"> 
         <h3>Your Score: @Model.Score out of @TempData["Count"] </h3> 
     </div> 
  
 </div> 
  <div class="text-center">

 <a asp-action="Index" class="btn btn-danger">Try Again</a>
 <a asp-controller="Quiz" asp-action="ShowReport" class="bg-primary text-white p-2 text-decoration-none rounded">Show Report</a>
  </div>  



