 @model QuizDishtv.Models.QuizViewModel; 

 @{ 
     ViewData["Title"] = "Results"; 

 } 
 <div class="results-container"> 
     <h2 class="text-center mb-4">Quiz Results</h2> 

     <div class="score-card alert alert-success text-center"> 
         <h3>Your Score: @Model.Score out of 10 </h3> 
     </div> 
  
 </div> 
    
 <a asp-action="Index" class="btn btn-danger">Try Again</a>



